<template>
  <v-container>
    <v-data-iterator :items="clients" items-per-page.sync="6" hide-default-footer>
      <template v-slot:header>
        <v-toolbar class="mb-2" color="indigo darken-5" dark flat>
          <v-toolbar-title>Clients</v-toolbar-title>
        </v-toolbar>
      </template>

      <template v-slot:default="props">
        <v-row>
          <v-col v-for="item in props.items" :key="item.nom">
            <v-card>
              <v-card-title class="subheading font-weight-bold">{{ item.first_name }} {{ item.last_name }}</v-card-title>

              <v-divider></v-divider>

              <v-list dense>
                <v-list-item>
                  <v-list-item-content>Description:</v-list-item-content>
                  <v-list-item-content class="align-end">{{ item.email }}</v-list-item-content>
                </v-list-item>

              </v-list>
            </v-card>
          </v-col>
        </v-row>
      </template>
    </v-data-iterator>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "Clients",

  data: () => ({
      interval: 0
  }),

  mounted() {
    this.getClients();

    this.interval = setInterval(() => {this.getClients()}, 5000)

  },

  beforeDestroy() {
    clearInterval(this.interval)
  },

  methods: {
    ...mapActions(["getClients"])
  },

  computed: {
    ...mapGetters(["clients"])
  }
};
</script>
