<template>
  <v-container>
    <v-data-iterator :items="products" items-per-page="50" hide-default-footer>
      <template v-slot:header>
        <v-toolbar class="mb-2" color="indigo darken-5" dark flat>
          <v-toolbar-title>Produits</v-toolbar-title>
        </v-toolbar>
      </template>

      <template v-slot:default="props">
        <v-row>
          <v-col v-for="item in props.items" :key="item.name" cols="12" sm="6" md="4" lg="3">
            <v-card>
              <v-card-title class="subheading font-weight-bold">{{ item.name }}</v-card-title>

              <v-divider></v-divider>

              <v-list dense>
                <v-list-item>
                  <v-list-item-content>Description:</v-list-item-content>
                  <v-list-item-content class="align-end">{{ item.description }}</v-list-item-content>
                </v-list-item>

                <v-list-item>
                  <v-list-item-content>Price:</v-list-item-content>
                  <v-list-item-content class="align-end">{{ getPrice(item.price) }}</v-list-item-content>
                </v-list-item>

                <v-list-item>
                  <v-list-item-content>Created:</v-list-item-content>
                  <v-list-item-content class="align-end">{{ getDate(item.created) }}</v-list-item-content>
                </v-list-item>

                <v-list-item>
                  <v-list-item-content>Modified:</v-list-item-content>
                  <v-list-item-content class="align-end">{{ getDate(item.modified) }}</v-list-item-content>
                </v-list-item>

                <v-list-item>
                  <v-list-item-content>Other:</v-list-item-content>
                  <v-list-item-content class="align-end">{{ item.addon }}</v-list-item-content>
                </v-list-item>
              </v-list>
            </v-card>
          </v-col>
        </v-row>
      </template>
    </v-data-iterator>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
var moment = require('moment');

export default {
  name: "Products",

  data: () => ({
      interval: 0
  }),

  mounted() {
    this.getProducts();
    
    this.interval = setInterval(() => {this.getProducts()}, 5000)
  },

  beforeDestroy() {
    clearInterval(this.interval)
  },

  methods: {
    ...mapActions(["getProducts"]),

    getDate(epoc) {
        return moment(parseInt(epoc)).format('ll')
    },

    getPrice(price) {
        return parseInt(price).toLocaleString("en-CA", {style: "currency", currency: "CAD"})
    }
  },

  computed: {
    ...mapGetters(["products"])
  }
};
</script>
