<template>
  <v-container>
    <v-data-iterator :items="stores" items-per-page.sync="6" hide-default-footer>
      <template v-slot:header>
        <v-toolbar class="mb-2" color="indigo darken-5" dark flat>
          <v-toolbar-title>Magasins</v-toolbar-title>
        </v-toolbar>
      </template>

      <template v-slot:default="props">
        <v-row>
          <v-col v-for="item in props.items" :key="item.name">
            <v-card>
              <v-card-title class="subheading font-weight-bold">{{ item.name }}</v-card-title>

              <v-divider></v-divider>

              <v-list dense>
                <v-list-item>
                  <v-list-item-content>Description:</v-list-item-content>
                  <v-list-item-content class="align-end">{{ item.address }}</v-list-item-content>
                </v-list-item>

              </v-list>
            </v-card>
          </v-col>
        </v-row>
      </template>
    </v-data-iterator>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "Stores",

  data: () => ({
      interval: 0
  }),

  mounted() {
    this.getStores();

    this.interval = setInterval(() => {this.getStores()}, 5000)
  },

  beforeDestroy() {
    clearInterval(this.interval)
  },

  methods: {
    ...mapActions(["getStores"])
  },

  computed: {
    ...mapGetters(["stores"])
  }
};
</script>
